

version: "3"

services:
  
  app:

    image: openhab/openhab:4.0.3-debian
    restart: always
    privileged: true
    network_mode: host
    cap_add:
      - NET_ADMIN
      - NET_RAW
    # The command node is very important. It overrides
    # the "gosu openhab tini -s ./start.sh" command from Dockerfile and runs as root!
    command: "tini -s ./start.sh server"
    volumes:
      - /boot/cmdline.txt:/boot/cmdline.txt:ro
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - {{ basedir }}/addons:/openhab/addons
      - {{ basedir }}/conf:/openhab/conf
      - {{ basedir }}/userdata:/openhab/userdata
    environment:
      OPENHAB_HTTP_PORT: 80
      OPENHAB_HTTPS_PORT: 443
      EXTRA_JAVA_OPTS: "-Duser.timezone=Europe/Berlin"


  influxdb:

    image: influxdb:2.7.1
    restart: always
    ports:
      - {{ int_ip4 }}:{{ influxdb_port }}:8086
    volumes:
      - {{ basedir }}/influxdb-data:/var/lib/influxdb2
      - {{ basedir }}/influxdb-conf:/etc/influxdb2
    environment:
      DOCKER_INFLUXDB_INIT_USERNAME: openhab
      DOCKER_INFLUXDB_INIT_PASSWORD: {{ influxdb_password }}
      DOCKER_INFLUXDB_INIT_ORG: openhab
      DOCKER_INFLUXDB_INIT_BUCKET: openhab
      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: {{ influxdb_token }}

#  promtail:
#
#    image: grafana/promtail:master-61be4c9
#    restart: always
#    volumes:
#      - {{ basedir }}/promtail-config.yaml:/etc/promtail/docker-config.yaml
#      - {{ basedir }}/userdata/logs:/openhab-logs
#    command: -config.file=/etc/promtail/docker-config.yaml


