---
# Pakete installieren
- name: pakete installieren
  apt:
    update_cache: yes
    state: present
    name:
      - cron-apt
      - needrestart

# Cron-Apt runs with default configuration 
# Daily update at 4am 

- name: add upgrade step 
  template: 
    src: 5-upgrade
    dest: /etc/cron-apt/action.d/5-upgrade
   
