---

- include_tasks: ../functions/get_secret.yml
  with_items:
    - { path: "{{ basedir }}/webdav_user_pass", type: prompt }


- name: "create folder struct for {{ basedir }}"
  file: 
    path: "{{ item }}"
    state: "directory"
  with_items:
    - "{{ basedir }}"
    - "{{ basedir }}/output"


- name: "copy config files for {{ basedir }}"
  template:
    src: "{{ item }}"
    dest: "{{ basedir }}/{{ item }}"
  with_items:
    - config.local.js
    - docker-compose.yml
    - Dockerfile
    - upload.sh
  register: config_files


- name: "stop {{ servicename }} docker"
  community.docker.docker_compose_v2:
    project_src: "{{ basedir }}"
    state: absent
  when: config_files.changed 


- name: "start {{ servicename }} docker"
  community.docker.docker_compose_v2:
    project_src: "{{ basedir }}"
    state: present
