[Unit]
Description=PiMatic Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/srv/pimatic/node_modules/pimatic

[Install]
WantedBy=multi-user.target

