
services:

  app:
    image: freqtradeorg/freqtrade:2024.12
    restart: always
    command: >
      trade
      --logfile /freqtrade/user_data/logs/freqtrade.log
      --db-url sqlite:////freqtrade/user_data/tradesv3.sqlite
      --config /freqtrade/user_data/config.json
      --strategy {{ freqtrade_strategy }}
    volumes:
      - "{{ basedir }}/data:/freqtrade/user_data"
    labels:
      - traefik.enable=true
      - traefik.http.routers.{{ servicename }}.rule=Host(`{{ domain }}`)
      - traefik.http.routers.{{ servicename }}.entrypoints=websecure
      - traefik.http.services.{{ servicename }}.loadbalancer.server.port=8080
    networks:
      - default
      - web


networks:
  web:
    external: true
