
\\        //     ===     ||   ====
 \\      //    //   \\   ||  ||   \\
  \\    //    ||     ||  ||  ||    ||
   \\  //      \\   //   ||  ||   //
    \\//         ===     ||   ====
    
 Welcone to '{{ ansible_hostname }}'
