[Unit]
Description=Elasticsearch Worker for Nextcloud Fulltext Search
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/srv/nextcloud
ExecStart=/srv/nextcloud/nextcloud-index-worker.sh
StandardOutput=syslog
StandardError=null
Nice=19
Restart=always

[Install]
WantedBy=multi-user.target
