
version: "2.4"

services:
  
  app:

    build: .
    restart: always
    ports:
      - "{{ api_port }}:5665"
    volumes:
      - "{{ basedir }}/data:/var/lib/icinga2"
      - "{{ basedir }}/etc/locale.gen:/etc/locale.gen"
      - "{{ basedir }}/etc/oauth_header.conf:/etc/apache2/conf-enabled/oauth_header.conf"
      - "{{ basedir }}/etc/icinga:/etc/icinga2"
      - "{{ basedir }}/etc/icingaweb2:/etc/icingaweb2"
      - "{{ basedir }}/log/apache2:/var/log/apache2"
      - "{{ basedir }}/log/icinga2:/var/log/icinga2"
      - "{{ basedir }}/log/icingaweb2:/var/log/icingaweb2"
    depends_on:
      - db
      - graphite
    environment:
      APACHE2_HTTP: BOTH
      MYSQL_ROOT_PASSWORD: "{{ mysql_admin_pass }}"
      MYSQL_PASSWORD: "{{ mysql_user_pass }}"
      MYSQL_DATABASE: icinga
      MYSQL_USER: icinga
      DEFAULT_MYSQL_HOST: db
      DEFAULT_MYSQL_USER: icinga
      DEFAULT_MYSQL_PASS: "{{ mysql_user_pass }}"
      ICINGAWEB2_ADMIN_PASS: "{{ icinga_admin_pass }}"
      ICINGA2_FEATURE_GRAPHITE: 1
      ICINGA2_FEATURE_GRAPHITE_HOST: graphite
      ICINGA2_FEATURE_GRAPHITE_PORT: 2003
      ICINGA2_FEATURE_DIRECTOR: 0
    labels:
      - traefik.enable=true
      - traefik.http.routers.{{ servicename }}.middlewares={{ servicename }}-auth
      - traefik.http.routers.{{ servicename }}.rule=Host(`{{ domain }}`)
      - traefik.http.routers.{{ servicename }}.entrypoints=websecure
      - traefik.http.services.{{ servicename }}.loadbalancer.server.port=80      
    networks:
      - default
      - web


  auth:
    image: thomseddon/traefik-forward-auth:2.2
    restart: always
    environment: 
      LOG_LEVEL: info
      DEFAULT_ACTION: auth
      DEFAULT_PROVIDER: generic-oauth
      SECRET: {{ forward_auth_secret }}
      PROVIDERS_GENERIC_OAUTH_AUTH_URL: {{ oauth_global.authorize_url }}
      PROVIDERS_GENERIC_OAUTH_TOKEN_URL: {{ oauth_global.token_url }}
      PROVIDERS_GENERIC_OAUTH_USER_URL: {{ oauth_global.userinfo_url }}
      PROVIDERS_GENERIC_OAUTH_CLIENT_ID: {{ servicename }}
      PROVIDERS_GENERIC_OAUTH_CLIENT_SECRET: {{ oauth_client_secret }}
      PROVIDERS_GENERIC_OAUTH_SCOPE: profile
      PROVIDERS_GENERIC_OAUTH_TOKEN_STYLE: header
    labels:
      - traefik.enable=true
      - traefik.http.middlewares.{{ servicename }}-auth.forwardauth.address=http://auth:4181
      - traefik.http.middlewares.{{ servicename }}-auth.forwardauth.authResponseHeaders=X-Forwarded-User
      - traefik.http.services.{{ servicename }}-auth.loadbalancer.server.port=4181
    networks:
      - default
      - web


  db:

    image: mariadb:10.11.6
    restart: always
    ports:
      - "{{ int_ip4 }}:{{mysql_port}}:3306"
    volumes:
      - "{{ basedir }}/db:/var/lib/mysql"
    environment:
      MYSQL_ROOT_PASSWORD: "{{ mysql_admin_pass }}"
      MYSQL_PASSWORD: "{{ mysql_user_pass }}"
      MYSQL_DATABASE: icinga
      MYSQL_USER: icinga
    networks:
      - default


  graphite:
    
    image: graphiteapp/graphite-statsd:1.1.8-7
    restart: always
    volumes:
      - "{{ basedir }}/graphite-conf/storage-schemas.conf:/opt/graphite/conf/storage-schemas.conf"
      - "{{ basedir }}/graphite-storage:/opt/graphite/storage"
    environment:
      GRAPHITE_TIME_ZONE: "Europe/Berlin"
      GRAPHITE_DATE_FORMAT: "%d.%m.%y"
      GRAPHITE_LOG_FILE_INFO: "-"
      GRAPHITE_LOG_FILE_EXCEPTION: "-"
      GRAPHITE_LOG_FILE_CACHE: "-"
      GRAPHITE_LOG_FILE_RENDERING: "-"
    networks:
      - default


networks:
  web:
    external: true    
  default:
    driver: bridge
    enable_ipv6: true
    ipam:
      driver: default
      config:
        # must be a ULA range
        - subnet: fd00:dead:beef:{{ api_port }}::/64