
debian_sources: 
  - "deb http://mirrordirector.raspbian.org/raspbian/ jessie main contrib non-free rpi"
  - "deb http://mirrordirector.raspbian.org/raspbian/ stretch main contrib non-free rpi"
  - "deb https://homegear.eu/packages/Raspbian/ jessie/"
  - "deb https://homegear.eu/packages/Raspbian/ stretch/"
  - "deb https://deb.nodesource.com/node_8.x stretch main"
  - "deb https://repos.influxdata.com/debian stretch stable"

debian_keys:
  - "https://homegear.eu/packages/Release.key"
  - "https://deb.nodesource.com/gpgkey/nodesource.gpg.key"
  - "https://repos.influxdata.com/influxdb.key"


# Art des Hosts: physical, vm, docker 
host_type: "physical"

  
# Definition von Borgbackup Repositories 
borgbackup_repos:
  
  backupsrv: 

    # URL des Repos   
    repo: "private@192.168.0.201:/data/private/control"
    
    # Repo-spezifische Optionen zum Aufruf von Borgbackup
    # z.B. bei Sicherungen zu rsync.net ist --remote-path=borg1 erforderlich
    options: ""

    # Compression Options, z,b. "zlib,5, "zstd,5"
    compression: "zlib,5"

    # Prune Optionen 
    prune: "--keep-within=2d --keep-daily=7 --keep-weekly=4 --keep-monthly=6"
    
    # Backup Schedule 
    weekday: "*"
    hour: "*/4"
    minute: "0"

    #  Zusätzliche Verzeichnisse, die nur in diesem Backup gesichtert werden sollen 
    # directories:

  rsyncnet: 

    # URL des Repos   
    repo: "17953@ch-s011.rsync.net:privat/control"
    
    # Repo-spezifische Optionen zum Aufruf von Borgbackup
    # z.B. bei Sicherungen zu rsync.net ist --remote-path=borg1 erforderlich
    options: "--remote-path=borg1"

    # Compression Options , "zstd,18"
    compression: "zlib,5"

    # Prune Optionen 
    prune: "--keep-within=2d --keep-daily=7 --keep-weekly=4 --keep-monthly=6"
    
    # Backup Schedule 
    weekday: "*"
    hour: "*/4"
    minute: "0"

    #  Zusätzliche Verzeichnisse, die nur in diesem Backup gesichtert werden sollen 
    # directories:

# Definition der Verzeichnisse, die in allen Borgbackup Repos gesichert werden sollen 
borgbackup_directories:
  - "/etc/"
  - "/srv/"
  - "/var/lib/homegear/"
