
debian_sources: 
  - "deb http://mirrordirector.raspbian.org/raspbian/ jessie main contrib non-free rpi"
  - "deb http://mirrordirector.raspbian.org/raspbian/ stretch main contrib non-free rpi"
  - "deb https://homegear.eu/packages/Raspbian/ jessie/"
  - "deb https://homegear.eu/packages/Raspbian/ stretch/"

debian_keys:
  - "https://homegear.eu/packages/Release.key"

borgbackup_weekday: "*"
borgbackup_hour: "*/4"
borgbackup_minute: "0"

borgbackup_directories:
  - "/etc/"
  - "/data/borgbackup/"
  - "/var/lib/homegear/"

borgbackup_prune:
  - "--keep-within=2d"
  - "--keep-daily=7"
  - "--keep-weekly=4"
  - "--keep-monthly=6"
  