version: "3.4"

services:

  broker:
    image: redis:7.2.3
    restart: always
    networks:
      - default


  db:
    image: postgres:13.13
    restart: always
    volumes:
      - "{{ basedir }}/db:/var/lib/postgresql/data"
    environment:
      POSTGRES_DB: paperless
      POSTGRES_USER: paperless
      POSTGRES_PASSWORD: {{ postgres_user_pass }}
    networks:
      - default


  auth:
    image: thomseddon/traefik-forward-auth:2.2
    restart: always
    environment: 
      LOG_LEVEL: info
      DEFAULT_ACTION: auth
      DEFAULT_PROVIDER: generic-oauth
      SECRET: {{ forward_auth_secret }}
      PROVIDERS_GENERIC_OAUTH_AUTH_URL: {{ oauth_global.authorize_url }}
      PROVIDERS_GENERIC_OAUTH_TOKEN_URL: {{ oauth_global.token_url }}
      PROVIDERS_GENERIC_OAUTH_USER_URL: {{ oauth_global.userinfo_url }}
      PROVIDERS_GENERIC_OAUTH_CLIENT_ID: {{ servicename }}
      PROVIDERS_GENERIC_OAUTH_CLIENT_SECRET: {{ oauth_client_secret }}
      PROVIDERS_GENERIC_OAUTH_SCOPE: profile
      PROVIDERS_GENERIC_OAUTH_TOKEN_STYLE: header
    labels:
      - traefik.enable=true
      - traefik.http.middlewares.{{ servicename }}-auth.forwardauth.address=http://auth:4181
      - traefik.http.middlewares.{{ servicename }}-auth.forwardauth.authResponseHeaders=X-Forwarded-User
      - traefik.http.services.{{ servicename }}-auth.loadbalancer.server.port=4181
    networks:
      - default
      - web


  app:
    image: ghcr.io/paperless-ngx/paperless-ngx:2.3.2
    restart: always
    depends_on:
      - db
      - auth
      - broker
    volumes:
      - "{{ basedir }}/data:/usr/src/paperless/data"
      - "{{ basedir }}/media:/usr/src/paperless/media:z"
      - "{{ basedir }}/consume:/usr/src/paperless/consume"
      - "{{ basedir }}/export:/usr/src/paperless/export"
    environment:
      USERMAP_UID: 1000
      USERMAP_GID: 1000
      PAPERLESS_DEBUG: 0
      PAPERLESS_REDIS: redis://broker:6379
      PAPERLESS_DBENGINE: postgress
      PAPERLESS_DBHOST: db
      PAPERLESS_DBNAME: paperless
      PAPERLESS_DBUSER: paperless
      PAPERLESS_DBPASS: {{ postgres_user_pass }}
      PAPERLESS_URL: "https://{{ domain }}"
      PAPERLESS_OCR_MODE: skip
      PAPERLESS_OCR_OUTPUT_TYPE: pdfa
      PAPERLESS_OCR_LANGUAGES: deu eng
      PAPERLESS_OCR_LANGUAGE: deu
      PAPERLESS_OCR_SKIP_ARCHIVE_FILE: with_text
      PAPERLESS_TIME_ZONE: Europe/Berlin
      PAPERLESS_SECRET_KEY: {{ paperless_secret_key }}
      PAPERLESS_TASK_WORKERS: 2
      PAPERLESS_OPTIMIZE_THUMBNAILS: 1
      PAPERLESS_FILENAME_FORMAT: "{correspondent}/{created_year}/{created_year}-{created_month}-{created_day}_{correspondent}_{document_type}_{title}"
      PAPERLESS_ENABLE_HTTP_REMOTE_USER: "True"
      PAPERLESS_HTTP_REMOTE_USER_HEADER_NAME: "HTTP_X_FORWARDED_USER"
      PAPERLESS_LOGOUT_REDIRECT_URL: {{ oauth_global.logout_url }}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000"]
      interval: 30s
      timeout: 10s
      retries: 5
    labels:
      - traefik.enable=true
      - traefik.http.routers.{{ servicename }}.middlewares={{ servicename }}-auth
      - traefik.http.routers.{{ servicename }}.rule=Host(`{{ domain }}`)
      - traefik.http.routers.{{ servicename }}.entrypoints=websecure
      - traefik.http.services.{{ servicename }}.loadbalancer.server.port=8000
      - traefik.http.middlewares.limit.buffering.maxRequestBodyBytes=5368709120
    networks:
      - default
      - web


networks:
  web:
    external: true
